/* container vala */
#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
form {
    width: 20%;
}
input {
    margin-top: 1%;
}
button {
    margin-top: 1%;
}
/* navbar vala */
body{

    background: #282828;
}
#navbar{
    display: flex;
    /* border: 1px solid red; */
    border-bottom: 1px solid rgb(166, 166, 166);
    height: 60px; 
    padding: 5px;     

}
#navbar>a{
    width: 10%;
    margin-left: 70px;
    margin-right: 130px;
    /* border:  1px solid red; */
                
}
#logo{
  width: 100%; 
  height: 50px;
  /* margin-left: ; */
  margin-right: 130px;
  /* border:  1px solid red */
}
#navbar>input{
    width: 35%;
    background-color: #181818;
    border-top:2px solid  #000000;
    border-bottom:2px solid  #000000;
    border-left:2px solid  #000000;
    border-right: none;
    color: rgb(255, 255, 255);
}
#navbar>button{
    width: 5%;
    border-left: none;
    background-color: #282828;
    color: aliceblue;
    border-top:2px solid  #000000;
    border-bottom:2px solid  #000000;
    border-right:2px solid #000000;
}